* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#top {
    height: 75px;
    width: 530px;
    background-color: #648255;
    text-align: center;
}

#top h1 {
    color: #fff;
    font-size: 2.5rem;
    padding-top: 13px;
}

#bottom {
    height: 500px;
    width: 530px;
    background-color: #A8C799;
}

.locked {
    width: 66px;
    height: 66px;
    background: blue;
    border-radius: 12px;
}

button {
    width: 66px;
    height: 66px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}